<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Evo fórum</title>
    <style>
        body {
            background-color: rgb(207, 234, 255);
        }
    </style>
    {% block style %}
    {% endblock %}
</head>
<body>
    
    <ul>
        <li><a href="/"><h1>Evo Fórum</h1></a></li>
        <li><a href="/posts">Postagens</a></li>
        <li> <a href="/contato">Contatos</a></li>
        <li><a href="/login">Login</a> </li>
        <li><a href="/cadastrar">Cadastrar</a></li>
    </ul>

    
    {% block content %}
    {% endblock %}
    <p>Criado por Pedro com muito amor</p>
</body>
</html>