{% extends 'base.html' %}
    {% block style %}

    {% endblock %}
    
    {% block content %}
    
    <h1>Minhas redes sociais</h1>
    <h2>Quem sou eu?</h2>
    <img src="../../static/pedro.jpg" width="200px" alt="Foto do Pedro">
    <p>Sou o <strong>Pedro Rodrigues Chagas</strong>, sou estudante de programação, porém a linguágem que mais gosto é a o python</p>
    <h2>Como falar comigo?</h2>
    <ul>
        <li><a href="" target="_blank">WhatsApp</a></li>
        <li><a href="" target="_blank">Github</a></li>
        <li><a href="" target="_blank">Discord</a></li>
    </ul>
    {% endblock %}