<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: antiquewhite;
        }
    </style>
</head>
<body>
    <h1>Projeto forum</h1>
    <h2>titulo um pouco menor, como subtitulo</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim deserunt debitis magnam nihil, modi laudantium sapiente aperiam hic asperiores obcaecati, exercitationem nobis mollitia sunt, quibusdam possimus odio quam accusantium tempora!</p>
    <h2>mais um titulo</h2>
    <h3>mais um subtitulo do subtitulo</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sint omnis fugit alias, molestias ullam consequuntur ad, natus iusto quae soluta saepe cupiditate quod, laboriosam facere quia dolores vel commodi!
        
    </p>
</body>
</html>