{% extends 'base.html' %}
    {% block style %}

    {% endblock %}
    
    {% block content %}
    <h1>tipos de listas</h1>
    <h2>listas ordenadas</h2>
    <p>Tipos de edição de listas, 1, A, a, I, i</p>
    <ol type="I"> <!-- Litas ordenadas -->
        <li>acordar</li>
        <li>orar</li>
        <li>ler a biblia</li>
        <li>tomar banho</li>
        <li>pegar o café</li>
    </ol> 

    <h2>Listas não ordendas</h2>
    <p>Tipos de edição de listas, disc, circle, square</p>
    <ul type="square"> <!-- Litas não ordenadas -->
        <li>atualizar o computador</li>
        <li>falar com a Déborah</li>
        <li>jogar o lixo fora</li>
    </ul>


    {% endblock %}